<div class="group">
  {{#> section}}
  <a href="page" class="text-orange-500">{{linkName}}</a>
  {{/section}}
  <div class="ring ring-orange-500 -z-10 absolute overflow-clip group-hover:static h-0 group-hover:h-fit">
    {{> @partial-block}}
  </div>
</div>
