<footer class="p-2 mt-auto self-end text-orange-500 bg-slate-900 flex justify-around w-svw">
  <a class="rounded-md transition-colors duration-200 bg-slate-900 hover:bg-slate-700 w-full h-fit text-center"
    href="https://github.com/Richard-M-Sullivan">
    Github
  </a>
  <a class="rounded-md transition-colors duration-200 bg-slate-900 hover:bg-slate-700 w-full h-fit text-center"
    href="https://www.linkedin.com/in/richard-sullivan-967182233/">
    Linkedin
  </a>
</footer>
