<nav class="w-full grid sm:grid-cols-3">
  <div class="py-5 bg-slate-900 sm:rounded-br-3xl">
    <a href="/" class="ring-yellow-600">
      <h1 class="text-center text-orange-500 text-3xl md:text-4xl lg:text-5xl">
        The Sullivan
      </h1>
      <h1 class="text-center text-orange-500 text-3xl md:text-4xl lg:text-5xl">
        Code Blog
      </h1>
    </a>
  </div>
  <div class="bg-slate-900 flex flex-col sm:col-span-2">
    <div class="p-2 bg-slate-900 flex flex-row justify-around">
      <a class="rounded-md text-orange-500 text-center flex-grow transition-colors duration-200 bg-slate-900 hover:bg-slate-700"
        href="/blog/">
        Blog
      </a>
      <a class="rounded-md text-orange-500 text-center flex-grow transition-colors duration-200 bg-slate-900 hover:bg-slate-700"
        href="/project/">
        Projects
      </a>
      <a class="rounded-md text-orange-500 text-center flex-grow transition-colors duration-200 bg-slate-900 hover:bg-slate-700"
        href="/tutorial/">
        Tutorials
      </a>
      <a class="rounded-md text-orange-500 text-center flex-grow transition-colors duration-200 bg-slate-900 hover:bg-slate-700"
        href="/note/">
        Notes
      </a>
      <a class="rounded-md text-orange-500 text-center flex-grow transition-colors duration-200 bg-slate-900 hover:bg-slate-700"
        href="/resume/">
        Resume
      </a>
      <a class="rounded-md text-orange-500 text-center flex-grow transition-colors duration-200 bg-slate-900 hover:bg-slate-700 "
        href="/support/">
        Support
      </a>
    </div>
    <div class="bg-slate-800 rounded-tl-3xl flex-grow "></div>
  </div>
</nav>
