{{>header title='TSCB Blog'}}
<body class="min-h-svh h-full bg-slate-800 flex flex-col justify-start sm:justify-start sm:items-center">
  {{>nav}}
  <main class="flex-grow justify-start">
    {{#> section}}
      <p class="text-slate-100">
        Welcome to the Blog! I hope you find my writings entertaining and inspiring.
      </p>
      <br />
      <h1 class="text-orange-500 font-bold">Recent Articles:</h1>
      <div class="pl-4 pr-4">
        <ul class="list-disc space-y-3 pl-4">
          <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
            <a href="/blog/2026/january/2026-01-17" class="">First Blog Entry</a>
          </li>
        </ul>
      </div>
    {{/section}}
    {{#> section}}
      <div>
        <button type="button" class="collapsible text-orange-500 hover:font-semibold cursor-pointer transition-all">
          2026
        </button>
        <div class="content pl-4 pr-4">
          <div>
            <button type="button" class="collapsible text-orange-500 hover:font-semibold cursor-pointer transition-all">
              January
            </button>
            <div class="content pl-4 pr-4">
              <ul class="list-disc space-y-3 pl-4">
                <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
                  <a href="/blog/2026/january/2026-01-17" class="">17th - First Blog Entry</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {{/section}}
  </main>
  {{>footer}}
</body>

