{{>header title='TSCB Projects'}}
<body class="min-h-svh h-full bg-slate-800 flex flex-col justify-start sm:justify-center sm:items-center">
  {{>nav}}
  <main class="flex-grow justify-start">
    {{#> section}}
      <div hx-get="/project/open/computer" hx-swap="outerHTML transition:true" hx-trigger="click">
        <p class="text-orange-500 hover:font-semibold cursor-pointer transition-all">
          Homebrew Computer
        </p>
      </div>
    {{/section}}

    {{#> section}}
      <div hx-get="/project/open/js-practice" hx-swap="outerHTML transition:true" hx-trigger="click">
        <p class="text-orange-500 hover:font-semibold cursor-pointer transition-all">
          JavaScript Mini-Program Gallery
        </p>
      </div>
    {{/section}}

    {{#> section}}
      <div hx-get="/project/open/sudoku-solver" hx-swap="outerHTML transition:true" hx-trigger="click">
        <p class="text-orange-500 hover:font-semibold cursor-pointer transition-all">
          Sudoku Solver
        </p>
      </div>
    {{/section}}
  </main>
  {{>footer}}
</body>

{{!
templ ComputerProjectOpen() {
<div>
  <p class="text-orange-500 hover:font-semibold cursor-pointer transition-all" hx-get="/project/closed/computer"
    hx-target="closest div" hx-swap="outerHTML transition:true" hx-trigger="click">
    Homebrew Computer
  </p>
  <p class="text-slate-100">
    One day, a close friend of mine asked, "Richard, how
    does a computer work?" - Keep in mind that my friend isn't very computer savvy.
    I gave him a high level overview, but he insisted that he wanted to know at the 'Lowest Level'.
    I don't think he anticipated that we would build one from scratch together!
  </p>
  <br />
  <p class="text-orange-500">Chapters:</p>
  <ul class="list-disc space-y-3 pl-4">
    <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
      <a href="/project/homebrew-computer/introduction" class="">8-bit Adder</a>
    </li>
  </ul>
</div>

templ JSPracticeOpen() {
<div>
  <p class="text-orange-500 hover:font-semibold cursor-pointer transition-all" hx-get="/project/closed/js-practice"
    hx-target="closest div" hx-swap="outerHTML transition:true" hx-trigger="click">
    JavaScript Mini-Program Gallery
  </p>
  <p class="text-slate-100">
    At the time of writing, the job market for software development has become very
    competitive. For that reason, I decided to start making ''mini'' programs to
    help brush up on my JavaScript and to, most importantly, have fun while
    doing it. I hope you get as much enjoyment out of these projects as I have!
  </p>
  <br />
  <p class="text-orange-500">Programs:</p>
  <ul class="list-disc space-y-3 pl-4">
    <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
      <a href="/project/js-practice/fetch-box" class="">Fetch Box</a>
    </li>
  </ul>
</div>
}

templ SudokuSolverOpen() {
<div>
  <p class="text-orange-500 hover:font-semibold cursor-pointer transition-all" hx-get="/project/closed/sudoku-solver"
    hx-target="closest div" hx-swap="outerHTML transition:true" hx-trigger="click">
    Sudoku Solver
  </p>
  <p class="text-slate-100">
    While in college, I created a terminal based sudoku solver using python. I
    decided that this project deserved a proper UI, so I rewrote it in
    javascript to run in the browser!
  </p>
  <br />
  <p class="text-orange-500">Project Link:</p>
  <ul class="list-disc space-y-3 pl-4">
    <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
      <a href="/project/sudoku-solver/sudoku-solver" class="">Sudoku Solver</a>
    </li>
  </ul>
</div>
}
}}
