{{>header title="TSCB Support"}}
<body class="min-h-svh h-full bg-slate-800 flex flex-col justify-start sm:justify-start sm:items-center">
  {{>nav}}
  <main class="flex-grow justify-start"></main>
  {{>footer}}
</body>
