{{>header title='The Sullivan Code Blog'}}
<body class="min-h-svh h-full bg-slate-800 flex flex-col justify-start sm:justify-start sm:items-center">
  {{>nav}}
  <main class="flex-grow justify-start">
    {{#> section}}
      <h1 class="text-orange-500 text-3xl">8 Bit Adder</h1>
      <p class="text-slate-100">
        The goal of this project is to design and build a circuit capable of adding
        and subtracting two 8-bit numbers. This is a great first project for anyone
        interested in circuit design, and is fundamental to understanding the CPU.
      </p>
      <br />
      <h1 class="text-orange-500 font-bold">Chapters:</h1>
      <div>
        <ul class="list-disc space-y-3 pl-4">
          <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
            <a href="/project/homebrew-computer/8-bit-adder/logic-gates" class="">Basic Logic Gates</a>
          </li>
          <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
            <a href="/project/homebrew-computer/8-bit-adder/logisim" class="">Learning to Use Logisim</a>
          </li>
          <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
            <a href="/project/homebrew-computer/8-bit-adder/chips" class="">Researching Computer Chips</a>
          </li>
          <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
            <a href="/project/homebrew-computer/8-bit-adder/prototype" class="">Building a Physical Prototype</a>
          </li>
          <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
            <a href="/project/homebrew-computer/8-bit-adder/final-design" class="">Finalizing the Design</a>
          </li>
          <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
            <a href="/project/homebrew-computer/8-bit-adder/parts" class="">Ordering the Parts</a>
          </li>
          <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
            <a href="/project/homebrew-computer/8-bit-adder/final-assembly" class="">Putting it all Together</a>
          </li>
          <li class="transition-all text-slate-100 hover:font-semibold hover:text-blue-500">
            <a href="/project/homebrew-computer/8-bit-adder/next-steps" class="">Takeaways and Next Steps</a>
          </li>
        </ul>
      </div>
    {{/section}}
  </main>
  {{>footer}}
</body>

