package templates

templ Resume() {
@BaseHeader("TSCB Resume") {

<body class="min-h-svh h-full bg-slate-800 flex flex-col justify-start sm:justify-start sm:items-center">
  @Navigation()
  <main class="flex-grow justify-start"></main>
  @Footer()
</body>
}
}
