package templates

templ Support() {
	@BaseHeader("TSCB Support") {
		<body class="h-full bg-slate-800 flex flex-col justify-start sm:justify-center sm:items-center">
			@Navigation()
			@Footer()
		</body>
	}
}
