{{>header title='The Sullivan Code Blog'}}
<body class="min-h-svh h-full bg-slate-800 flex flex-col justify-start sm:justify-start sm:items-center">
  {{>nav}}
  <main class="flex-grow justify-start">
    {{#> section}}
    <p class="text-slate-100">LOGIC GATES</p>
    {{/section}}
  </main>
  {{>footer}}
</body>
}
}
