{{>header title='The Sullivan Code Blog'}}
<body class="min-h-svh h-full bg-slate-800 flex flex-col justify-start sm:justify-start sm:items-center">
  {{>nav}}
  <main class="flex-grow justify-start">
    {{#> section}}
      <h1 class="text-orange-500 text-3xl">First Blog Post</h1>
      <p class="text-slate-100">
      Hi, and welcome to the blog! I have never written a blog before, so I am
      not sure how these things are supposed to go... but that's exactly the
      point!
      </p>
      <br>
      <h2 class="text-orange-500 text-xl">Doers And Dreamers</h2>
      <p class="text-slate-100">
      Out of all the people I've met. They can be split up into two types:
      Those that do (doers), and those that want to do (dreamers). The doers
      are the rare minority. They are the people that seemingly are able to do
      everything. They are always on top of work and chores, while
      simultaneously starting a podcast, running a local club, going on
      vacations, playing sports, and in general crushing it at life. The
      dreamers on the other hand have lofty goals and plans - just like the
      doers, but with one major difference: lack of follow through. This is the
      vast majority of people, and I considered myself to be in this camp for a
      long time. But what if I told you that it doesn't have to be this way?
      What if I told you that you can be a doer too? 
      </p>
      <br>
      <h2 class="text-orange-500 text-xl">Becoming A Doer</h2>
      <p class="text-slate-100">
      I want to share with you three experiences from my own life that
      demonstrate how anyone can improve themselves. I hope that you can relate
      to these stories, and I hope that you are able to take with you some
      wisdom that helps you in your own life.
      </p>
      <br>
      <p class="text-slate-100"><b>Aimlessness</b></p>
      <p class="text-slate-100">
      When I was younger, I hated school. I enjoyed spending time with my
      friends, but I didn't want to work. This attitude peaked in high school
      where I fell into the wrong crowd and started down a self defeating path.
      By the time I was a senior, I was so far behind that the school wouldn't
      allow me graduate with the rest of my class. I was shocked. Watching my
      friends move on without me had sent me into a spiraling depression. I
      would ruminate on how they were all "out there", moving out of their
      parents, getting jobs, and going to college, while I was stuck in high
      school. It was at this point that I had reached a fork in the road. I had
      the option to just get a GED, but I decide that I needed to do whatever
      it took to graduate. In my final year, I had to take an additional six
      classes - nearly doubling the number of classes one would normally take.
      My schedule was to go to school during the day, take extra classes at
      night, and spend my weekends doing mountains of homework. Despite
      struggling my entire life to do even the minimum amount of school work, I
      was able to find success even when rediculous amounts of work.
      </p>
      <br>
      <p class="text-slate-100">
      As it turns out, I had always been capable of doing the work. The real
      issue was my lack of purpose. Once I had realized that finishing my
      classes and graduating was important to me, I was able to put in the
      effort because I deeply cared about the outcome.
      </p>
      <br>
      <p class="text-slate-100"><b>The Fear Of Failure Leads To Failure</b></p>
      <p class="text-slate-100">
      In rock climbing, overcoming fear is the biggest obstacle to success.
      When climbing at the limit, a climber enters a war with their own mind.
      Consciously, they know what they need to do, but the subconscious mind
      wants to do everything it can to stop them. As fear builds, the climber's
      legs begin to shake, their hands get slick with sweat, their heart races
      in their chest, and a sickening awareness of all the ways to get injured
      percolates to the forefront of their thoughts. In this state, a climber
      will often over grip and exhaust them selves, and they will be timid in
      their actions. By not giving 100% they only partially make it to the next
      hold and fall, the exact result they were trying to avoid.
      </p>
      <br>
      <p class="text-slate-100">
      As a climber I have experienced this more times than I can count -
      especially when climbing outdoors. It manifests itself in other aspects
      of life as well. Often times I will procrastinate and avoid a task
      entirely. I may research the task endlessly, always looking for the best
      way instead of actually starting. I find that even when I start a task, I
      may over complicate things and give up before I'm finished. All of these
      actions are due to a fear of failure. Fortunately, this fear can be
      overcome in the same way that I was able to overcome my fear of heights.
      I kept putting myself in situations where I was deeply afraid to fall and
      then falling. Each time I survived, my fear of falling lessened. This can
      be applied to anything. You just have to purposely put yourself in the
      position you were afraid to reach. Do you fear rejection? Try and throw
      out ideas and suggestions to see how many times you can get rejected. Are
      you afraid people will not like your art? Make art and purposely seek out
      criticism.
      </p>
      <br>
      <p class="text-slate-100"><b>No Focus</b></p>
      <p class="text-slate-100">
      When I was younger I had a ton of hobbies. I was climbing, doing jujitsu,
      boxing, studying chess, learning about computers, trying to master all
      the programming languages, etc... I was a slave to the winds of passion,
      and when the winds changed I would be swept away by them. With each new
      venture I would see rapid improvements, but eventually I would plateau.
      As it became increasingly more difficult to get better I would lose
      interest and abandon that hobby for a shiny new one. Unfortunately, this
      practice left me psychologically stunted. By practicing giving up, I had
      convinced myself that despite having natural talent, I was incapable of
      reaching a high level in anything. I was destined to be perpetually
      inadequate. This all changed when I made a couple friends who took
      climbing seriously. They were always encouraging me to come out to climb
      more and to do focused training with them. When we first started climbing
      together there was a large skill gap, but after several years of
      consistant climbing and training with them, the gap narrowed and closed.
      I was able to reach a high level of ability.
      </p>
      <br>
      <p class="text-slate-100">
      I have since learned that being focused and judicious with my time is the
      key to reaching a high level. I started giving up hobbies to focus more
      time on the goals that mattered most. I also learned that it is easier to
      achieve more when you surround yourself with achievers. There is a
      natural tenancy for people to raise each other up when a group shares a
      common goal. I also learned that focusing on improvement is a great way
      to get burnt out and discouraged since you don't have control over your
      skill level. Instead I found it was more important to focus on the tasks
      that lead to improvement. Focusing on doing drills, working on technique,
      sharing advice, and seeing how much time was dedicated to enjoying what I
      do.
      </p>
    {{/section}}
  </main>
  {{>footer}}
</body>

